Package: com.kermit.gameseagull
Name: GameSeagull
Version: 0.0.1
Architecture: iphoneos-arm
Description: Minor game pigeon "assistance"
Maintainer: kermit the flop
Author: kermit the flop
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
