<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>HBPackageNameHeaderCell</string>
				<key>packageIdentifier</key>
				<string>com.donato.gameseagull</string>
				<key>packageNameOverride</key>
				<string>GameSeagull</string>
				<key>titleColor</key>
				<string>#ffcdd9</string>
				<key>subtitleColor</key>
				<string>#aaaaaa</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Archery</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>archeryNoWind</string>
				<key>label</key>
				<string>Disable Wind</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>8 ball</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>showTrajectory</string>
				<key>label</key>
				<string>Always show trajectory</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Darts</string>
				<key>footerText</key>
				<string>* One shot win is HIGHLY Suspicious</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>aimDart</string>
				<key>label</key>
				<string>Aimbot</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>oneDart</string>
				<key>label</key>
				<string>One shot win</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>default</key>
				<string>0</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>dartMode</string>
				<key>validTitles</key>
				<array>
					<string>101</string>
					<string>201</string>
					<string>301</string>
				</array>
				<key>validValues</key>
				<array>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>tanks</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>tankNoWind</string>
				<key>label</key>
				<string>Disable Wind</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Mini Golf</string>
				<key>footerText</key>
				<string>* HIGHLY Suspicious</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>holeInOne</string>
				<key>label</key>
				<string>Always Hole in One</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Cup Pong</string>
				<key>footerText</key>
				<string>* HIGHLY Suspicious</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>cupInOne</string>
				<key>label</key>
				<string>One Shot Win</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Word Games</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>key</key>
				<string>anagrams</string>
				<key>label</key>
				<string>Word solver</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Other</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<string></string>
				<key>detail</key>
				<string>WinSpooferController</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Spoof wins</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>GameSeagull by Donato</string>
				<key>isStaticText</key>
				<true/>
			</dict>
			<dict>
				<key>action</key>
				<string>apply:</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>HBTintedTableCell</string>
				<key>label</key>
				<string>Apply</string>
			</dict>

			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>action</key>
				<string>github</string>
				<key>label</key>
				<string>GitHub</string>
				<key>subtitle</key>
				<string>Source Code</string>
			</dict>

		</array>
		<key>title</key>
		<string>GameSeagull</string>
	</dict>
</plist>
