<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>HBPackageNameHeaderCell</string>
				<key>packageIdentifier</key>
				<string>com.fiore.gameseagull</string>
				<key>packageNameOverride</key>
				<string>GameSeagull</string>
				<key>titleColor</key>
				<string>#ffcdd9</string>
				<key>subtitleColor</key>
				<string>#aaaaaa</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Archery</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>archeryNoWind</string>
				<key>label</key>
				<string>Disable wind</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>archeryClose</string>
				<key>label</key>
				<string>Always 50ft target</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>8 ball</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>extTrajectory</string>
				<key>label</key>
				<string>Extend trajectory</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>showTrajectory</string>
				<key>label</key>
				<string>Always show trajectory</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>noHardMode</string>
				<key>label</key>
				<string>Disable hard mode</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>rgbLine</string>
				<key>label</key>
				<string>RGB guideline</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>moveCue</string>
				<key>label</key>
				<string>Always move cue ball</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Darts</string>
				<key>footerText</key>
				<string>* HIGHLY Suspicious</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>oneDart</string>
				<key>label</key>
				<string>One shot win</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>tanks</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>tankNoWind</string>
				<key>label</key>
				<string>Disable wind</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Mini Golf</string>
				<key>footerText</key>
				<string>* HIGHLY Suspicious</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>holeInOne</string>
				<key>label</key>
				<string>Always hole in one</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Cup Pong</string>
				<key>footerText</key>
				<string>* HIGHLY Suspicious</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>cupInOne</string>
				<key>label</key>
				<string>One shot win</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Word Games</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>wordReveal</string>
				<key>label</key>
				<string>Word reveal</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>autoAnagrams</string>
				<key>label</key>
				<string>Auto word solver (Anagrams Only)</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Sea Battle</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>key</key>
				<string>seeShips</string>
				<key>label</key>
				<string>See enemy ships</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<string></string>
				<key>detail</key>
				<string>WinSpooferController</string>
				<key>defaults</key>
				<string>com.fiore.gameseagullprefs</string>
				<key>label</key>
				<string>Spoof wins</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Other</string>
			</dict>

			<dict>
				<key>big</key>
				<true/>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>height</key>
				<integer>56</integer>
				<key>label</key>
				<string>Donato Fiore</string>
				<key>user</key>
				<string>TheDonatoFiore</string>
				<key>action</key>
				<string>twitter</string>
			</dict>

			
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>action</key>
				<string>github</string>
				<key>label</key>
				<string>GitHub</string>
				<key>subtitle</key>
				<string>Source Code</string>
			</dict>

		</array>
		<key>title</key>
		<string>GameSeagull</string>
	</dict>
</plist>
