<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Leave blank to not spoof for that game.</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string></string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>20 questions</string>
				<key>key</key>
				<string>questions_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>8 ball</string>
				<key>key</key>
				<string>pool_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>9 ball</string>
				<key>key</key>
				<string>pool2_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Anagrams</string>
				<key>key</key>
				<string>anagrams_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Archery</string>
				<key>key</key>
				<string>archery_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Basketball</string>
				<key>key</key>
				<string>basketball_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Checkers</string>
				<key>key</key>
				<string>checkers_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Chess</string>
				<key>key</key>
				<string>chess_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Crazy 8</string>
				<key>key</key>
				<string>crazy_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Cup Pong</string>
				<key>key</key>
				<string>cup_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Darts</string>
				<key>key</key>
				<string>darts_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Dots &#38; boxes</string>
				<key>key</key>
				<string>dots_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Filler</string>
				<key>key</key>
				<string>fill_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Four in a row</string>
				<key>key</key>
				<string>connect_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Gomoku</string>
				<key>key</key>
				<string>renju_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Knockout</string>
				<key>key</key>
				<string>knock_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Mancala</string>
				<key>key</key>
				<string>mancala_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Mini golf</string>
				<key>key</key>
				<string>golf_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Paintball</string>
				<key>key</key>
				<string>paint_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Riversi</string>
				<key>key</key>
				<string>reversi_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Sea battle</string>
				<key>key</key>
				<string>sea_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Shuffleboard</string>
				<key>key</key>
				<string>shuffle_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Tanks</string>
				<key>key</key>
				<string>tanks_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Word bites</string>
				<key>key</key>
				<string>wordbites_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.donato.gameseagullprefs</string>
				<key>label</key>
				<string>Word hunt</string>
				<key>key</key>
				<string>hunt_wins</string>
				<key>isNumeric</key>
				<true/>
			</dict>
		</array>
		<key>title</key>
		<string>Spoof wins</string>
	</dict>
</plist>
