<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Leave blank to not spoof that game.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>pool</string>
                <key>label</key>
                <string>8 Ball</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>sea</string>
                <key>label</key>
                <string>Sea Battle</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>basketball</string>
                <key>label</key>
                <string>Basketball</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>archery</string>
                <key>label</key>
                <string>Archery</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>anagrams</string>
                <key>label</key>
                <string>Anagrams</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>hunt</string>
                <key>label</key>
                <string>Word Hunt</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>wordbites</string>
                <key>label</key>
                <string>Word Bites</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>darts</string>
                <key>label</key>
                <string>Darts</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>beer</string>
                <key>label</key>
                <string>Cup Pong</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>golf</string>
                <key>label</key>
                <string>Mini Golf</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>knock</string>
                <key>label</key>
                <string>Knockout</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>crazy</string>
                <key>label</key>
                <string>Crazy 8</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>connect</string>
                <key>label</key>
                <string>Connect 4</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>paint</string>
                <key>label</key>
                <string>Paintball</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>shuffle</string>
                <key>label</key>
                <string>Shuffleboard</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>tanks</string>
                <key>label</key>
                <string>Tanks</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>fill</string>
                <key>label</key>
                <string>Filler</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>checkers</string>
                <key>label</key>
                <string>Checkers</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>chess</string>
                <key>label</key>
                <string>Chess</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>mancala</string>
                <key>label</key>
                <string>Mancala</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>dots</string>
                <key>label</key>
                <string>Dots &#38; Boxes</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>renju</string>
                <key>label</key>
                <string>Gomoku</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>reversi</string>
                <key>label</key>
                <string>Reversi</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>pool2</string>
                <key>label</key>
                <string>9 Ball</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>cellClass</key>
                <string>GSPWinSpooferCell</string>
                <key>keyboard</key>
                <string>phone</string>
                <key>key</key>
                <string>questions</string>
                <key>label</key>
                <string>20 Questions</string>
                <key>defaults</key>
                <string>com.fiore.gameseagull.prefs</string>
            </dict>
        </array>
        <key>title</key>
        <string>Spoof Wins</string>
    </dict>
</plist>